# output files
*.aux
*.log
*.out
*gz
*.toc
*svg-tex*
*synctex*
.\svg-inkscape
*.dvi
*fdb_latexmk
*.fls
*.ps
*.ver
*.ed
*.loc
*.ed
*.soc
*.lot
*.lotsk
*.rec
*.soc
*.loc
*.tsk
*.res
*.cb*
*.lor
*.bbl
*.bcf
*.blg
*.xml
*ltex.*
.\.vscode\*